header
  nav
    #brand
      #logo
      #word-mark
        a(href='') FS TALIA
    #menu
      #menu-toggle
        #menu-icon
          .bar
          .bar
          .bar
      ul
        li
          a(href='#index-section') Главная
        li
          a(href='#aboutus') О Нас
        li
          a(href='#portfolio') Портфолио
        li
          a(href='#contant') Контакты
        li
          a(href='#application') Оставить заявку
  #index-section
    img(src="/assets/img/title.png", alt="")
    #head-line
