section#aboutus
    h1 Fs Talia
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut tenetur, optio reiciendis nesciunt laboriosam saepe atque sequi at vel, soluta maxime hic eum voluptatibus laudantium quidem quod dolore neque minima.

section#portfolio

section#contant
  h1 Fs Talia


section#application
  h1 Оставьте заявку
  input(type="text")
  input(type="mail")
  input(type="phone")
  textarea(name="", cols="30", rows="10")
  button(class="button__blue" type="submit") Отправить

